DELIVERY_BROKER_HOSTS=localhost:9094
DELIVERY_URL=http://localhost:9999

ENVIRONMENT=development
LOG_LEVEL=debug
APP_NAME=delivery-subscriber
APP_VERSION=local
INTERNAL_COMMANDS_TOPIC=delivery-internal.commands
DLQ_TOPIC=delivery-subscriber.dlq

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=delivery

NOTIFIER_PROVIDER=twilio
TWILIO_ACCOUNT_SID=AC...
TWILIO_AUTH_TOKEN=...
TWILIO_WHATSAPP_FROM=+11223344556
NOTIFIER_DEFAULT_COUNTRY_CODE=55              
